/* Font StyleSheet*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:ital,wght@1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.text {
    font-size: 50px;
    color: #F97F51;
    display: inline-block;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-width: 0px;
    position: relative;

}

.text::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: attr(data-letters);
    overflow: hidden;
}

.text.top:before {
    color: red;
    transition: 1s ease-in-out;
    height: 0;
    z-index: 1;

}

.text.top:hover:before {
    height: 100%;
}